# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/
node_modules/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environments
.env
.venv
env/
venv/
.venv/

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# IDE and editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

