.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  block-size: 100%;
  min-block-size: 100%;

  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
  justify-content: center;
  align-items: center;
  /* place-content: flex-start; */
  perspective: 40vw;
  perspective-origin: center center;
  overflow: hidden;

  pointer-events: none;
}

.threeDButtonSet {
  --x: 0deg;
  --y: 0deg;
  --distance: 1px;

  --_max-rotateY: 10deg;
  --_max-rotateX: 15deg;
  --_btn-bg: var(--theme-bg);
  --_btn-bg-hover: var(--theme-bg-hover);
  --_btn-text: var(--theme-text);
  --_btn-text-shadow: var(--theme-shadow);
  --_bounce-ease: cubic-bezier(0.5, 1.75, 0.75, 1.25);

  transform-origin: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  margin: 0;
  padding: 0rem;

  justify-content: center;

  transform-style: preserve-3d;

  transform: rotateY(
      clamp(calc(var(--_max-rotateY) * -1), var(--y), var(--_max-rotateY))
    )
    rotateX(
      clamp(calc(var(--_max-rotateX) * -1), var(--x), var(--_max-rotateX))
    );

  &:focus {
    outline: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .threeDButtonSet {
    will-change: transform;
    transition: transform 0.1s ease;
    animation: rotate-y 5s ease-in-out infinite;
  }
}

.threeDButtonSet > li {
  display: inline-flex;
  position: relative;
  transform-style: preserve-3d;
  pointer-events: auto;
}

.threeDButtonSet button {
  appearance: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--_btn-bg);
  color: var(--bs-white);
  text-shadow: 0 1px 1px var(--_btn-text-shadow);
  font-size: var(--space-2xs-l);
  padding-block: var(--space-3xs-xs);
  padding-inline: var(--space-2xs-s);
  border-radius: 5px 20px;
  transform: translateZ(var(--distance));
  transform-style: preserve-3d;
}

.threeDButtonSet button:is(:hover, :focus-visible):not(:active) {
  --distance: 15px;
  background-color: var(--_btn-bg-hover);
}

@media (prefers-reduced-motion: no-preference) {
  .threeDButtonSet button:is(:hover, :focus-visible):not(:active) {
    --distance: 3vmax;
    transition-timing-function: var(--_bounce-ease);
    transition-duration: 0.4s;
  }

  .threeDButtonSet button:is(:hover, :focus-visible):not(:active)::after {
    transition-duration: 0.5s;
  }

  .threeDButtonSet button:is(:hover, :focus-visible):not(:active)::before {
    transition-duration: 0.3s;
  }

  .threeDButtonSet button {
    will-change: transform;
    transition:
      transform 0.2s ease,
      background-color 0.5s ease;
  }

  .threeDButtonSet button::after {
    transition: transform 0.1s ease-out;
  }
}

.threeDButtonSet button::after,
.threeDButtonSet button::before {
  content: '';
  opacity: 0.8;
  position: absolute;
  inset: 0;
  border: 1px solid var(--theme);
  border-radius: 5px 20px;
  transform: translateZ(calc(var(--distance) / 3));
}

@keyframes openMenu {
  0% {
    max-width: 0vw;
    opacity: 0;
    transform: translateX(-4rem) scale(0.8);
  }
  60% {
    max-width: 45vw;
    opacity: 0;
    transform: translateX(-4rem) scale(0.8);
  }
  100% {
    max-width: 45vw;
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
}

@keyframes closeMenu {
  0% {
    max-width: 45vw;
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
  40% {
    max-width: 35vw;
    transform: translateX(-4rem) scale(0.8);
    opacity: 0;
  }
  100% {
    max-width: 0vw;
  }
}

.submenu {
  flex-direction: row;
  animation: openMenu 0.6s ease-out forwards;
  height: 35vh;
  align-items: start;
  justify-content: start;
  min-width: 0;
}

.submenu:empty {
  opacity: 0;
  transform: translateX(-4rem) scale(0.8);
  max-width: 0vw;
  pointer-events: none;
  animation: closeMenu 0.6s ease-in forwards;
}

.closing {
  opacity: 0;
  transform: translateX(-4rem) scale(0.8);
  max-width: 0vw;
  pointer-events: none;
  animation: closeMenu 0.6s ease-in forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .threeDButtonSet button::after,
  .threeDButtonSet button::before {
    transition: transform 0.1s ease-out;
  }
}

.threeDButtonSet button::before {
  border-width: 3px;
  transform: translateZ(calc(var(--distance) / 3 * -1));
}

@media (prefers-color-scheme: dark) {
  .threeDButtonSet button::before {
    box-shadow:
      0 0 25px var(--theme),
      inset 0 0 25px var(--theme);
  }
}

@keyframes rotate-y {
  50% {
    transform: rotateY(15deg) rotateX(-6deg);
  }
}

.matchList {
  align-self: flex-start;
  width: 80%;
}

.disabledButton {
  pointer-events: none;
  filter: grayscale(1) brightness(0.9);
  text-shadow: none;
  /* background-color: var(--_btn-bg); */
}

.disabledButton::before,
.disabledButton::after {
  display: none;
}
