asgiref==3.8.1
async-timeout==5.0.1
channels==4.2.0
channels_redis==4.2.1
Django==5.0.9
django-types==0.19.1
djangorestframework==3.15.2
daphne==4.0.0
msgpack==1.1.0
Pygments==2.18.0
redis==5.2.1
sqlparse==0.5.2
types-psycopg2==2.9.21.20241019
typing_extensions==4.12.2
django-cors-headers==3.13.0
