.navbarCustom {
  position: sticky !important;
  top: 0;
  padding: 0.2rem !important;
  /* padding: 0.15rem 0 0.25rem 0 !important; */
  font-size: var(--step--1);
  z-index: 9999;
}

.customBtn {
  /* padding: 0rem !important; */
  width: var(--space-xl-3xl) !important;
  height: var(--space-l-2xl) !important;
  text-align: center !important;
  font-size: var(--step--1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
