.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--bs-highlight-color);
  text-align: center;
  padding: 0.333rem 1rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.content {
  display: flex;
  width: 100%;
  /* padding: 0 1rem; */
  flex-wrap: wrap;
  /* gap: 1rem; */
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--bs-light-bg-subtle);
}
.hiddenOnSmall {
  display: block;
}

@media (max-width: 500px) {
  .hiddenOnSmall {
    display: none;
  }
}
.text {
  white-space: nowrap;
}

.links {
  display: flex;
  gap: 0.2rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.emoji {
  font-size: 1rem;
}

.divider {
  margin: 0 0.5rem;
  color: var(--bs-secondary-text-emphasis);
}

.copyright {
  white-space: nowrap;
}
