.controls {
  margin-top: 1rem;
  background-color: var(--bs-tertiary-bg);
  border: 2px solid var(--bs-tertiary-color);
  border-radius: var(--bs-border-radius);
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-wrap: pretty;
}

.title {
  margin-bottom: 1.5rem;
  color: var(--bs-warning);
  font-weight: bold;
  text-align: center;
}

.keysContainer {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.keyGroup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: var(--bs-secondary-bg);
  border: 2px solid var(--bs-tertiary-color);
  padding: 0.6rem 0.8rem;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.keyGroup:hover {
  transform: scale(1.05);
}

.key {
  font-size: 1.5rem;
  color: var(--bs-body-color);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
